*, *:before, *:after{
    box-sizing: border-box;
}

/*оформление игрового поля*/
body{
    padding: 0;
    margin: 0;
}

div{
    border: black dotted 1px;
}

#wrap{
    height: 100vh;
}

#leftField, #rightField{
    display: inline-block;
    /*float: left;*/
    height: 100%;
}

#leftField{
    width: 60%;
}

#rightField{
    width: 40%;
}

#questionWrap, #scoresWrap{
    height: 15%;
}

#wordWrap{
    height: 20%;
}

#gameWrap{
    height: 65%;
    position: relative;
}

#hostWrap{
    height: 45%;
}

#prizesWrap, #giftsWrap{
    height: 20%;
}

/*барабан*/
#wheelWrap{
    height: 100%;
    width: min-content;
    margin: auto;
}

#spin{
    height: 100%;
    border: none;
    background-color: unset;
}

#wheelWrap img{
    height: 100%;
}

/*колесо*/

/*#wheel{*/
/*    width: max-content;*/
/*}*/

/*стрелка*/
/*#arrow{*/
/*    width: 0;*/
/*    height: 0;*/
/*    border-top: 25px solid transparent;*/
/*    border-right: 50px solid red;*/
/*    border-bottom: 25px solid transparent;*/

/*}*/


