*, *:before, *:after{
    box-sizing: border-box;
}

/*оформление игрового поля*/
body{
    padding: 0;
    margin: 0;
}

div{
    border: black dotted 1px;
}

#wrap{
    height: 100vh;
}

#leftField, #rightField{
    display: inline-block;
    /*float: left;*/
    height: 100%;
}

#leftField{
    width: 60%;
}

#rightField{
    width: 40%;
}

#questionWrap, #scoresWrap{
    height: 15%;
}

#wordWrap{
    height: 20%;
}

#gameWrap{
    height: 65%;
    position: relative;
}

#hostWrap{
    height: 45%;
}

#prizesWrap, #giftsWrap{
    height: 20%;
}

/*барабан*/
#wheel{
    height: 100%;
    width: min-content;
    margin: auto;
}

#wheel img{
    height: 100%;
}

/*стрелка*/
#arrow{
    width: 0;
    height: 0;
    border-top: 50px solid transparent;
    border-right: 100px solid red;
    border-bottom: 50px solid transparent;
    position: absolute;
    left: 75%;
}


